<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>地形コスト付きマップの最短経路</title>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <!--<script src="cmn/utl.js" charset="UTF-8"></script>-->
  <script src="rndr.js" charset="UTF-8"></script>
  <script src="main.js" charset="UTF-8"></script>
</head>
<body>
  <h1>地形コスト付きマップの最短経路</h1>
  <h2>● 結果判定　<span id="stts" style="color: red;"></span></h2>
  <h2>● router.rb の長さ　<span id="stts" style="color: red;"><%= wc %></span></h2>
  <div id="cnvsArea"></div>
  <textarea id="res" style="width: 600px; height: 10em;"></textarea>
  <script type='application/json' id="retval"><%= retval.to_json %></script>
</body>
</html>
