<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>地形コスト付きマップの最短経路</title>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <!--<script src="cmn/utl.js" charset="UTF-8"></script>-->
  <script src="rndr.js" charset="UTF-8"></script>
  <script src="main.js" charset="UTF-8"></script>
  <script src="code.js" charset="UTF-8"></script>
</head>
<body>
  <h1>地形コスト付きマップの最短経路</h1>
  <h2>● コード入力</h2>
  <div>
	<textarea id="src" style="width: 600px; height: 250px;"><%= vwcode %></textarea><br>
	<input type="button" value="コードを確認" id="chck">
  </div>

  <h2>● 結果判定　<span id="stts" style="color: red;"></span></h2>
  <div id="cnvsArea"></div>
  <textarea id="res" style="width: 600px; height: 10em;">
  </textarea>
</body>
</html>
